<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Findings Report</title>
  <style>
      .warning {
          color: #f39c12;
      }

      .warning::after {
          content: "⚠️";
      }

      body {
          font-family: 'Helvetica', 'Arial', sans-serif;
          font-size: 16px;
          line-height: 1.6;
          margin: 0;
          padding: 0;
          background-color: #f4f4f4;
          color: #333;
      }

      .container {
          width: 80%;
          margin: 20px auto;
          background: #fff;
          padding: 20px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
          text-align: center;
          color: #444;
      }

      .finding {
          margin: 10px 0;
          padding: 10px;
          border-bottom: 1px solid #ddd;
      }

      .finding:last-child {
          border-bottom: none;
      }


      .severity {
          font-size: 20px;
          font-weight: bold;
          margin: 20px 0 10px;
      }

      .header {
          text-align: center;
          padding: 20px;
          margin-bottom: 20px;
          background-color: #f4f4f4;
          border-bottom: 1px solid #ddd;
      }

      h1 {
          margin: 0;
          font-size: 24px;
          color: #444;
      }
  </style>
</head>
<body>
<div class="container">
  <div class="header">

    <h1>Statica AppSec Findings</h1>
    <p><strong>Repository URL:</strong> <a href="<%= ENV['REPO_URL'] %>" target="_blank"><%= ENV['REPO_URL'] %></a></p>
    <p><strong>Repo Branch:</strong> <%= ENV['REPO_BRANCH'] %></p>
    <p><strong>Latest Commit SHA:</strong> <%= ENV['LATEST_COMMIT_SHA'] %></p>
    <p><strong>Scan Date:</strong> <%= @scan_date %></p>
  </div>



  <% @severities.each do |severity| %>

    <p class="severity <%= severity %>">
      <%= severity %>
    </p>

   ## each rule
    <% @results.select { |result| result.severity == severity }.each do |finding| %>


      <div class="finding">
        <p><%= finding.description %> (<%= finding.rule_id %>)</p>
        <ul>
          <li>
            <a href="<%= finding.file_url %>" target="_blank"><%= finding.file_url %></a>: <%= finding.linenum %>
          </li>
        </ul>
      </div>

    <% end %>


  <% end %>
</div>
</body>
</html>
