<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Findings Report</title>
  <style>
      .warning {
          color: #f39c12;
      }

      .warning::after {
          content: "⚠️";
      }

      .error {
          color: #e74c3c;
      }

      .error::after {
          content: "❌";
      }

      .note {
          color: #3498db;
      }

      .note::after {
          content: "📝";
      }

      .collapsible:hover {
          background-color: #ddd;
      }

      body {
          font-family: 'Helvetica', 'Arial', sans-serif;
          font-size: 16px;
          line-height: 1.6;
          margin: 0;
          padding: 0;
          background-color: #f4f4f4;
          color: #333;
      }

      .container {
          width: 80%;
          margin: 20px auto;
          background: #fff;
          padding: 20px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .severity {
          font-size: 20px;
          font-weight: bold;
          margin: 20px 0 10px;
      }

      .header-container {
          display: flex;
          justify-content: center;
          margin: auto;
      }

      .header {
          text-align: left;
          display: inline-block;
          padding: 20px;
          margin-bottom: 20px;
          background-color: #f4f4f4;
          border-bottom: 1px solid #ddd;
      }

      h1 {
          margin: 0;
          text-align: center;
          font-size: 24px;
          color: #444;
      }
  </style>
</head>
<body>
<div class="container">
  <div class="header-container">


    <div class="header">


      <h1>Statica AppSec Findings</h1>
      <p><strong>Repository URL:</strong> <a href="<%= ENV['REPO_URL'] %>" target="_blank"><%= ENV['REPO_URL'] %></a>
      </p>
      <p><strong>Repo Branch:</strong> <%= ENV['REPO_BRANCH'] %></p>
      <p><strong>Latest Commit SHA:</strong> <%= ENV['LATEST_COMMIT_SHA'] %></p>
      <p><strong>Scan Date:</strong> <%= @scan_date %></p>
      <p><strong>Findings:</strong> <%= @results.length %></p>
      <p><strong>Tools used:</strong> <%= @tools.join(", ") %></p>
    </div>
  </div>


  <% severities.each do |severity| %>

    <p class="severity <%= severity %>">
      <%= severity %>
    </p>

    <% rules_and_descriptions(severity).each_pair do |rule_id, desc| %>

      <% results_matching = results_matching(severity, rule_id) %>

   <p class="collapsible <%= results_matching.length <= 5 ? 'active' : '' %>">
      <b><%= rule_id %></b>:
      <%= desc %>
      <em>[ <%= results_matching.first.tool %>] </em>
      <strong>(<%= results_matching.length %>)</strong>
    </p>

      <ul>
        <% results_matching.each do |finding| %>
          <li>
            <a href="<%= get_url(finding.file_url, finding.linenum) %>" target="_blank"><%= finding.file_url %></a><%= finding.linenum > 0 ? ":#{finding.linenum}" : nil %>
          </li>
        <% end %>
      </ul>
    <% end %>


  <% end %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let coll = document.getElementsByClassName("collapsible");
        for (let i = 0; i < coll.length; i++) {
            let content = coll[i].nextElementSibling;
            if (coll[i].classList.contains("active")) {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    });
</script>

</body>
</html>
